/Projekt/hrcak/
/Projekt/pymupdf_text/
/Projekt/pdf2image_text/
/Projekt/ocr_text/
/Projekt/pypdf2_text/
/Projekt/doaj_pdf/
/Projekt/scholar_pdf/
/Projekt/arxiv_pdf/
/Projekt/pdfs/
/Projekt/txts/
/Projekt/metadata/
